body{
	font-family: "Source Sans Pro", sans-serif;
	color: #34495e;
}
.header{
	text-align: center;

}
#form-wrapper{
	background: #ecf0f1;
	margin-top: 10%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 3px solid #34495e;
	border-radius: 25px;
}
#form-wrapper input{
	width: 65%;
}
form {
	margin-left: 125px;
}
.contenu {
	padding-top: 5%;
}
.contenu .panel{
	text-align: left;
}
.contenu h1{
	font-size: 24pt;
	text-align: left;
	margin-bottom: 40px;
	border-bottom: 3px solid #e74c3c;
}